<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lu.uni.serval.icc_update1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="lu.uni.serval.icc_update1.OutFlowActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider android:name="lu.uni.serval.icc_update1.InFlowProvider" 
            android:authorities="lu.uni.serval.icc_update1"/>
        
        <provider android:name="lu.uni.serval.icc_update1.IsolateProvider" 
            android:authorities="lu.uni.serval.icc_update1"/>
    </application>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>
