<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
      
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      
  <application android:allowBackup="true" android:label="@string/app_name" android:supportsRtl="true">
            
    <activity android:enabled="true" android:exported="true" android:name="com.example.mnit.callwritingactivity.MainActivity">
                  
      <intent-filter>
                        
        <action android:name="com.example.mnit.callwritingactivity.MainActivity"/>
                        
        <category android:name="android.intent.category.DEFAULT"/>

        <data android:mimeType="text/plain"/>
                    
      </intent-filter>
              
    </activity>
        
  </application>
  
</manifest>
