<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.mit.icc_broadcast_programmatic_intentfilter"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application 
    android:icon="@drawable/icon" 
    android:label="BroadcastTest">
        <activity android:name="edu.mit.icc_broadcast_programmatic_intentfilter.BroadcastTest"
                  android:label="BroadcastTest">
            <intent-filter>
                <action 
                android:name="android.intent.action.MAIN" />
                <category 
                android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
<uses-sdk android:minSdkVersion="15"></uses-sdk>
<uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest> 
